#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
}

.Artist-Name {
  display: block;
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  margin: 1rem;
  transition: 0.2s;
}

a:hover {
  color: rgba(255, 255, 255, 0.70);
}

